! colors
#include ".Xresources.d/solarized" 
! urxvt
URxvt*termName : rxvt-unicode-256color
URxvt.scrollBar: off
URxvt.boldFont: xft:Fira Code:size=9:style=Bold
URxvt*cursorBlink: true
URxvt*internalBorder: 11
! font
*.font: xft:Fira Code:size=9,xft:Twitter Color Emoji:size=9
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault
! dmenu
dmenu.font: Fira Code-9
dmenu.background: S_base02
dmenu.foreground: S_base03
dmenu.selforeground: S_base00
dmenu.selbackground: S_base02
