! colors
#include ".Xresources.d/nord" 
! urxvt
URxvt*termName : rxvt-unicode-256color
URxvt.scrollBar: off
URxvt.font: xft:Dina:size=9
URxvt*cursorBlink: true
URxvt*internalBorder: 11
! font
*.font: xft:Fira Code:size=9,xft:Twitter Color Emoji:size=9
Xft.antialias: true
Xft.hinting: true
Xft.rgba: false
Xft.autohint: false
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault
! dmenu
dmenu.background: background
dmenu.foreground: foreground
dmenu.selforeground: background
dmenu.selbackground: foreground
